#cv-template
{
    display: none;
}

body {
    background-image: url('/home/apiiit-rkv/Documents/CODE ALPHA/task_3_code_alpha_RESUME_BUILDER/images/resume.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Adjust as needed: cover, contain, auto, etc. */
  }
.myimg
{
    border-radius: 50%;
    width: 200px;
}
span{
    background-color: rgb(238, 142, 247);
    text-shadow: 5px;
    border-radius: 5px;
    
}


.background
{
    background-color: rgb(1, 0, 8);
}

.big-size
{
    font-size: 35px;
    
}
.small-size
{
    font-size: 10px;
    
}

label {
    color: rgb(247, 113, 4); /* Change this to your desired font color */
    font-weight: bold; /* Optional: Add any other styles you want for the labels */
  }








  

  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  h3{
    color:rgb(30, 255, 0)
  }

  p
  {
    color:rgb(252, 54, 4)
  
  }